/* Chat window styling */
.chat-window {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #474756;
  transition: background 0.3s;
  height: 100vh;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

body.dark-mode .chat-window {
  background: var(--bg-dark);
}

/* Message styling */
.message {
  max-width: 70%;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  // background-color: red;
}

/* Chats container */
.chats {
  display: flex;
  flex-direction: column;
  // background-color: green;
  width: 50%;
  position: fixed;
  height: 75vh;
  overflow: scroll;
  margin-top: 5vh;
  margin-bottom: 20vh;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

@media (max-width: 768px) {
  .chats {
      width: 85%;
  }
}

/* Animation for fade-in effect */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* User and bot message styling */
.user {
  align-self: flex-end;
  background: rgba(0, 0, 0, 0.1);
  color: white;
}

.assistant {
  align-self: flex-start;
  background: transparent;
  color: rgb(201, 197, 197);
}

body.dark-mode .assistant {
  background: #444;
  color: white;
}

/* Loading text styling */
.loading {
  align-self: flex-start;
  font-size: 12px;
  color: gray;
}

/* Feedback button styling */
.feedback-buttons {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.feedback-buttons button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.feedback-buttons button.active {
  color: #007bff;
}

/* Toastr styling */
#toast-container.toast-top-center {
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.toast,
.toast-success,
.toast-error,
.toast-warning,
.toast-info {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.toast-progress {
  background-color: rgba(255, 255, 255, 0.3);
}
