.chat-container {
    display: flex;
    height: 100vh;
    background: var(--bg-light);
    transition: background 0.3s;
  }
  
  body.dark-mode .chat-container {
    background: var(--bg-dark);
  }
  
  .chat-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: var(--bg-light);
    border-left: 0px solid #ddd;
    overflow: hidden;
    transition: background 0.3s;
  }
  
  body.dark-mode .chat-section {
    background: var(--bg-dark);
    border-left: 1px solid #444;
  }
  
  .chat-window {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  // .chat-input {
  //   display: flex;
  //   align-items: center;
  //   padding: 10px;
  //   background: var(--bg-light);
  //   border-top: 1px solid #ddd;
  //   transition: background 0.3s;
  // }
  
  body.dark-mode .chat-input {
    background: var(--bg-dark);
    border-top: 1px solid #444;
  }
  
  .input-box {
    flex: 1;
  }
  
  button {
    margin-left: 10px;
  }
  
  .loading {
    align-self: flex-start;
    font-size: 12px;
    color: gray;
  }