/* General form field styling */
.custom-form-field {
    width: 100%;
    position: relative;
    border: 0px solid #d62626; /* Border color */
    border-radius: 4px;
    padding: 8px;
    background-color: transparent;
    height: fit-content;
}

/* Textarea styling */
.custom-textarea,
.full-width-textarea {
    width: 100% !important;
    border: none;
    outline: none;
    background: none;
    resize: none;
    color: white;
    font-size: 17px;
    overflow: hidden;
    max-height: 500px;
}

.custom-textarea::placeholder,
.full-width-textarea::placeholder {
    color: #888;
}

/* Chat input styling */
.chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100vw;
    max-width: 50%;
    border-radius: 20px;
    background-color: rgba(202, 26, 26, 0.1);
    position: fixed;
    bottom: 35px;
}

@media (max-width: 768px) {
    .chat-input {
        max-width: 85%;
    }
}

/* Input box styling */
.input-box {
    flex: 1;
}

/* Scrollbar styling */
.no-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.no-scrollbar::-webkit-scrollbar-track {
    background: #3a3a46;
    border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
    background: #A7A2A2;
    border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #A7A2A2;
}

.no-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #A7A2A2 #3a3a46;
}

/* Angular Material form field outline styling */
.custom-outline .mat-form-field-wrapper {
    width: 100% !important;
}

.custom-outline.mat-form-field-appearance-outline .mat-form-field-outline {
    border-color: #d62626 !important;
}

.custom-outline.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    border-width: 22px !important;
}

/* Footer styling */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    // background-color: #333;
    color: #a3a3a3;
    text-align: center;
}

/* Material Design Components (MDC) text field styling */
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field {
    border-color: transparent;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused {
    border-color: transparent;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):hover {
    border-color: transparent;
}

.mdc-text-field--outlined .mdc-notched-outline__leading,
.mdc-text-field--outlined .mdc-notched-outline__notch,
.mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-color: transparent;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) ::placeholder {
    color: #d62626;
}
