// First, use any necessary Sass modules
// @use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// application.scss

// @import "toastr";
// // Define your custom theme
// $custom-primary: mat.define-palette(mat.$indigo-palette);
// $custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $custom-theme: mat.define-light-theme((
//   color: (
//     primary: $custom-primary,
//     accent: $custom-accent
//   )
// ));

// // Apply the theme to all components
// @include mat.all-component-themes($custom-theme);

// Following the @use rules, you can add your global styles
// body {
//   font-family: 'Arial', sans-serif;
// }

// .my-custom-class {
//   background-color: blue;
//   color: white;
// }


// @include mat.form-field-overrides((
//   $outlined-focus-outline-color: orange,
//   $outlined-caret-color: red,
// ));

/* Custom Toastr Styles */
#toast-container.toast-top-center {
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .toast {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .toast-success {
    background-color: #000; /* Black background for success */
    color: #fff; /* White text for success */
  }
  
  .toast-error {
    background-color: #000; /* Black background for error */
    color: #fff; /* White text for error */
  }
  
  .toast-warning {
    background-color: #000; /* Black background for warning */
    color: #fff; /* White text for warning */
  }
  
  .toast-info {
    background-color: #000; /* Black background for info */
    color: #fff; /* White text for info */
  }
  
  .toast-progress {
    background-color: rgba(255, 255, 255, 0.3); /* Light progress bar */
  }